<div *ngIf="environment.environmentName === 'test'" class="row text-light px-4 py-3 bg-banner mx-0">
  <div class="w-100">
    <h6 class="mb-0">
      <i class="bi bi-exclamation-triangle me-3"></i>
      <span i18n>Developer Playground: Enter the Matrix of Code!</span>
    </h6>
  </div>
</div>
<div class="row nav-bar-container px-4 py-3 mx-0 bg-light">
  <div class="col-9 col-sm-5 col-md-6 col-lg-7 col-xl-9 my-auto">
    <a class="title-container d-flex" [routerLink]="['/']">
      <img src="./../../../../../assets/icons/cb-logo.svg" alt="logo" class="me-3 my-auto theme-assets-wrapper" />
      <h3 class="my-auto text-dark">ChainBrary</h3>
    </a>
  </div>
  <div class="d-none d-sm-block col-sm-7 col-md-6 col-lg-5 col-xl-3">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="btn-container my-auto mx-2" *ngFor="let item of headerBtns">
          <a [routerLink]="item.url">
            <button class="btn btn-light" routerLinkActive="active">{{ item.title }}</button>
          </a>
        </div>
        <mat-form-field class="my-auto">
          <mat-select [(ngModel)]="languageSelected" (selectionChange)="switchLanguage($event.value)">
            <mat-option [value]="lang" *ngFor="let lang of language">
              {{ lang }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container-menu-icon col-3 d-block d-sm-none d-flex justify-content-end">
    <app-chainbrary-button [buttonClasses]="['border-0', 'bg-transparent', 'w-init']" data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="bi bi-list d-flex justify-content-end text-dark"></i>
    </app-chainbrary-button>
  </div>
  <div class="d-block d-sm-none px-0 bg-light">
    <div class="collapse" id="navbarToggleExternalContent">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light text-dark" *ngFor="let item of headerBtns">
          <a [routerLink]="item.url">
            <button class="btn btn-light">{{ item.title }}</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
