<div *ngIf="environment.environmentName === 'test'" class="row text-light px-4 py-3 bg-banner mx-0">
  <div class="w-100">
    <h6 class="mb-0">
      <i class="bi bi-exclamation-triangle me-3"></i>
      <span i18n>Developer Playground: Enter the Matrix of Code!</span>
    </h6>
  </div>
</div>
<div class="row nav-bar-container px-4 pt-3 mx-0 bg-light pb-2 pb-sm-0">
  <div class="col-9 col-sm-4">
    <a class="title-container d-flex" [routerLink]="['/']">
      <img src="./../../../../../assets/icons/cb-logo.svg" alt="logo" class="me-3 my-auto theme-assets-wrapper" />
      <h3 class="my-auto text-dark">ChainBrary</h3>
    </a>
  </div>
  <div class="d-none d-sm-block col-sm-8">
    <div class="row">
      <div class="d-flex justify-content-end">
        <div class="my-auto pb-2" routerLinkActive="active" *ngFor="let item of headerBtns">
          <a [routerLink]="item.url">
            <button class="btn btn-light">
              <span>{{ item.title }}</span>
            </button>
          </a>
        </div>

        <a routerLink="./../community-vaults">
          <button type="button" class="mx-2 btn btn-outline-primary" routerLinkActive="btn-primary text-light">
            <i class="bi bi-safe2 pe-2"></i>
            Community Vault
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="container-menu-icon col-3 d-block d-sm-none d-flex justify-content-end">
    <app-chainbrary-button
      [buttonClasses]="['border-0', 'bg-transparent', 'w-init']"
      (callToAction)="navService.toggleDrawer()"
    >
      <i class="bi bi-list d-flex justify-content-end text-dark"></i>
    </app-chainbrary-button>
  </div>
</div>
