.nav-bar-container {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.17);
}

.title-container {
  cursor: pointer;

  img {
    width: 2rem;
  }

  h3 {
    font-weight: 600;
  }
}

.container-menu-icon {
  i {
    font-size: 1.8rem;
  }
}

.bg-banner {
  background-color: rgb(255, 0, 0);
}

a {
  text-decoration: none;
}
