<div class="container p-4">
  <!-- Description -->
  <div class="row" [hidden]="urlImageFound || imageIsLoading">
    <div class="col-12 text-start">
      <h3 class="text-dark">How to show a picture on the blockchain?</h3>
      <p class="text-secondary">
        Files aren't stored on the blockchain to avoid high costs and network congestion; they're externally hosted and
        referenced for efficient, decentralized access.
      </p>
    </div>
    <form [formGroup]="mainForm" class="col-12">
      <mat-form-field class="w-100" appearance="outline">
        <input matInput type="text" formControlName="url" placeholder="https://" />
        <mat-error
          class="text-end"
          *ngIf="mainForm.get('url')?.hasError('required') || mainForm.get('url')?.hasError('pattern')"
        >
          URL invalid
        </mat-error>
      </mat-form-field>
      <mat-error class="text-end mb-2" *ngIf="mainForm.get('url')?.hasError('invalidUrl')">
        {{ mainForm.get('url')?.errors?.['invalidUrl'] }}
      </mat-error>
    </form>
    <div class="col-12 text-start">
      <h6 class="text-dark">How can I quickly host my file somewhere?</h6>
      <mat-button-toggle-group
        class="my-2"
        appearance="legacy"
        (change)="changeProviderStorage($event)"
        [value]="providerSelected"
      >
        <mat-button-toggle [value]="item.key" *ngFor="let item of storageProviders">{{ item.label }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-12 mt-1">
      <div markdown [data]="providerSelectedText" [disableSanitizer]="true"></div>
    </div>
  </div>
  <!-- Image found -->
  <div class="row" *ngIf="urlImageFound && !imageIsLoading">
    <div class="col-12 text-start">
      <h3 class="text-dark">Image found!</h3>
      <p class="text-secondary">The image was found on the blockchain and it's ready to be displayed.</p>
    </div>
    <div class="col-12 img-container">
      <img [src]="urlImageFound" class="img-fluid" />
    </div>
    <div class="col-12">
      <div class="row mt-3">
        <div class="col-6">
          <app-chainbrary-button
            [buttonClasses]="['btn-secondary-gradient', 'text-light']"
            buttonText="Cancel"
            (callToAction)="reset()"
          />
        </div>
        <div class="col-6">
          <app-chainbrary-button
            [buttonClasses]="['btn-info-gradient', 'text-light']"
            buttonText="Add"
            (callToAction)="submit()"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Loading animation -->
  <div class="row" *ngIf="imageIsLoading">
    <div class="col-12 text-start">
      <h3 class="text-dark">Loading...</h3>
      <p class="text-secondary">The image is being loaded from the blockchain.</p>
    </div>
    <div class="col-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>
