<!-- Error -->
<div
  *ngIf="(walletService.networkIsMatching$ | async) === false && (networkOnStore$ | async)"
  class="alert alert-warning border-0 shadow-sm"
  role="alert"
>
  <h4 i18n class="alert-heading">Wrong network</h4>
  <p i18n>Your wallet does not match with the current selected network.</p>
</div>

<!-- Header -->
<div class="my-3">
  <app-auth-banner></app-auth-banner>
</div>

<!-- Body -->
<div class="d-none d-md-block my-3 card shadow-sm border-0 cb-card">
  <div class="card-body">
    <a
      *ngFor="let item of useCaseRoutes"
      [routerLink]="'/use-cases' + item.path"
      data-id="btn-use-case-{{ item.icon }}"
    >
      <button class="btn w-100 py-2 w-100 btn-light my-2 border-0" routerLinkActive="active" [disabled]="!item.enabled">
        <div class="row py-1 px-3">
          <div class="col-2">
            <i class="bi" [ngClass]="item.icon"></i>
          </div>
          <div class="col-10 d-flex justify-content-start align-items-center">
            <span>{{ item.title }} {{ item.enabled ? '' : '(coming)' }}</span>
          </div>
        </div>
      </button>
    </a>
  </div>
</div>
