.sample-card {
  cursor: pointer;
  border: 3px solid white;
  overflow: hidden;
}

.selected-card {
  border: 3px solid var(--bs-primary);
}

@media print {
  // TODO: show only the svg and hide the rest
}
