<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto py-4">
      <markdown ngPreserveWhitespaces>


        # Chainbrary Privacy Policy

        _Last Updated: 21st Feb 2024_

        ## Introduction

        Welcome to Chainbrary. As a pioneering decentralized autonomous organization (DAO), we are deeply committed to
        upholding the privacy and security of our community. In the evolving landscape of blockchain technology, the
        sanctity of personal data has never been more paramount. This Privacy Policy serves as a testament to our
        dedication, outlining our practices and principles in handling and protecting the information collected through
        our operations and website.

        Chainbrary stands at the forefront of integrating blockchain technology within a framework that respects and
        preserves user privacy. As a DAO, we operate with a unique governance structure, one that is decentralized and
        controlled by our community members. This structure not only empowers our users but also shapes our approach to
        data management and privacy.

        In this document, we aim to transparently convey our methods of data collection, usage, and protection. We
        understand the importance of your privacy and are committed to maintaining the trust you place in us as you
        navigate through the realms of blockchain technology.

        ## Expanded Information Collection Section

        Chainbrary's Approach to Information Collection. In alignment with our core principle of minimal data
        collection, our platform is designed to gather only the essential data required for effective operation and user
        experience. This approach is reflective of our commitment to privacy and transparency. Below, we detail the
        categories of information we collect:

        1. Blockchain-Based Data: Our operations are deeply rooted in blockchain technology. As such, the primary data we
        collect revolves around blockchain transactions. This includes public transaction IDs, wallet addresses, and
        smart contract interactions. It's crucial to understand that this information is inherently public due to the
        nature of blockchain technology and is not confidential.

        2. Aggregate Usage Data: For the purpose of enhancing our platform, we utilize web analytics tools. These tools
        provide us with aggregate data concerning site usage and visitor behavior. Such data includes page views,
        session duration, and general traffic patterns. Importantly, this information is collected in aggregate form and
        does not allow us to identify individual users.

        3. Voluntary User-Provided Data: In certain scenarios, users may choose to provide us with additional information.
        This could include feedback through community channels, participation in surveys, or other forms of direct
        communication with Chainbrary. This information is provided voluntarily and is used to further improve our
        services.

















        ## Contact Us

        For any questions or concerns about our privacy practices, please reach out through our community channels.

        ---

        This Privacy Policy is effective as of 21st Feb 2024.



      </markdown>
    </div>
  </div>
</div>
