<div class="card border-0 my-2 shadow-sm p-3">
  <div class="card-header bg-body border-0">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center img-container-network">
          <img src="./../../../../../assets/icons/tokens/dot-icon.svg" alt="coin-icon" class="img-fluid" />
          <h6 class="ms-2">Polkadot network</h6>
        </div>
      </div>
      <div class="col-12 text-end">
        <p class="mb-0">Total value locked</p>
        <h4 class="text-secondary">20 ETH</h4>
      </div>
      <div class="card-body bg-primary-subtle mb-3">blablabla</div>
      <div class="card-footer border-0 bg-body">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-outline-primary w-100">Withdraw</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary w-100">Add Tokens</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
