<form [formGroup]="profileForm" class="pt-2">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Wallet Address</mat-label>
        <input
          formControlName="publicAddress"
          type="link"
          class="text-center"
          matInput
          placeholder="0x"
          data-id="address-input"
        />
        <mat-error *ngIf="profileForm.get('publicAddress')?.hasError('invalidAddress')">
          A wallet address must start with 0x
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Url of your image</mat-label>
        <input
          formControlName="avatarUrl"
          type="link"
          class="text-center"
          matInput
          placeholder="https://my-url"
          data-id="avatarUrl-input"
        />
        <mat-error *ngIf="profileForm.get('avatarUrl')?.hasError('required')"> Field is required </mat-error>
        <mat-error *ngIf="profileForm.get('avatarUrl')!.hasError('invalidUrl')"> Invalid image url </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Name</mat-label>
        <input
          formControlName="username"
          type="name"
          class="text-center"
          matInput
          placeholder="Name"
          data-id="username-input"
        />
        <mat-error *ngIf="profileForm.get('username')!.hasError('maxlength')">
          Name must be less than 20 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="profileForm.get('publicAddress')?.invalid">
    <div class="col-12 col-lg-7 text-center mb-2">
      <mat-error *ngIf="profileForm.get('publicAddress')?.touched">
        Enter your wallet address to receive funds
      </mat-error>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-7" (click)="submitForm()" data-id="submit-button">
      <app-chainbrary-button
        [buttonClasses]="['btn-success-gradient', 'text-light']"
        buttonText="Next"
        buttonType="submit"
      />
    </div>
  </div>
</form>
