<form [formGroup]="profileForm">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-7">
      <mat-form-field class="w-100 example-full-width" appearance="outline">
        <mat-label>Payment address</mat-label>
        <input formControlName="publicAddress" type="link" class="text-center" matInput placeholder="0x" />
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 col-lg-7">
      <mat-form-field class="w-100 example-full-width" appearance="outline">
        <mat-label>Url of your image</mat-label>
        <input formControlName="avatarUrl" type="link" class="text-center" matInput placeholder="https://my-url" />
        <mat-error *ngIf="profileForm.get('avatarUrl')!.hasError('invalidUrl')">
          Url does not include <strong>https</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 col-lg-7">
      <mat-form-field class="w-100 example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="username" type="name" class="text-center" matInput placeholder="Name" />
        <mat-error *ngIf="profileForm.get('username')!.hasError('maxlength')">
          Name must be less than 20 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 col-lg-7">
      <mat-form-field class="w-100 example-full-width text-dark" appearance="outline">
        <mat-label>Subtitle</mat-label>
        <input formControlName="subtitle" type="name" class="text-center" matInput placeholder="Subtitle" />
        <mat-error *ngIf="profileForm.get('subtitle')!.hasError('maxlength')">
          Name must be less than 15 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center my-4">
    <div class="col-8 col-lg-5" (click)="submitForm()">
      <app-chainbrary-button
        [buttonClasses]="['btn-success-gradient', 'text-light']"
        [buttonText]="'Confirm'"
        [buttonType]="'submit'"
      />
    </div>
  </div>
</form>
