<div class="container-fluid bg-container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="d-flex flex-column justify-content-between h-100">
        <div class="row">
          <div class="col-12 text-start">
            <h3 class="text-dark p-3">
              <i (click)="location.back()" class="bi bi-arrow-left me-3 text-light"></i>
              <span class="text-light">Payment Status</span>
            </h3>
          </div>
          <div class="col-12">
            <app-transaction-card [cardContent]="cardContentTest"></app-transaction-card>
            <h3 class="text-light">Amount Sent:</h3>
            <p class="text-light">200 SEP</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="title-container d-flex justify-content-center mb-5">
              <img src="./../../../../../assets/icons/cb-logo.svg" alt="logo" class="me-3 my-auto" />
              <h3 class="my-auto text-light">ChainBrary</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
