<!-- Login Header -->
<app-use-cases-sidebar-header *ngIf="userIsConnected"> </app-use-cases-sidebar-header>

<!-- Loading view -->
<table class="w-100 shadow-sm bg-white" *ngIf="transactionsIsLoading && transactionsTable.length === 0">
  <thead>
    <tr class="skeleton-header px-4">
      <th class="text-start py-3 ps-4">Action</th>
      <th class="text-center py-3">Amount</th>
      <th class="text-end py-3 pe-4">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
      <td class="px-4 py-2">
        <div class="d-flex justify-content-center">
          <div class="col-12">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
        </div>
      </td>
      <td class="py-2">
        <div class="d-flex justify-content-center">
          <div class="col-6">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
        </div>
      </td>
      <td class="px-4 py-2">
        <div class="d-flex justify-content-end">
          <div class="col-10">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Table -->
<table
  mat-table
  [dataSource]="transactionsTable"
  class="w-100 shadow-sm"
  *ngIf="!!transactionsTable && transactionsTable.length > 0 && !transactionsIsLoading"
>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="text-start">Action</th>
    <td mat-cell *matCellDef="let element" class="text-start">
      <span class="d-block d-lg-none">{{ formatService.formatPublicAddress(element.transaction.hash, 3) }}</span>
      <span class="d-none d-lg-block">{{ formatService.formatPublicAddress(element.transaction.hash, 10) }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef class="text-center">Amount</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <span class="text-success price-container" *ngIf="element.role === role.Receiver">{{ getAmount(element) }}</span>
      <span class="text-danger price-container" *ngIf="element.role === role.Sender">{{ getAmount(element) }}</span>
      <span class="symbol-price ps-1">{{ networkSymbol }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="text-end">Date</th>
    <td mat-cell *matCellDef="let element" class="text-end">
      <span class="d-block d-lg-none">{{ element.submittedDate | date: 'short' }}</span>
      <span class="d-none d-lg-block">{{ element.submittedDate | date: 'medium' }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Empty view -->
<div
  class="d-flex flex-column align-items-center justify-content-center pt-5"
  *ngIf="transactionsTable?.length === 0 && !transactionsIsLoading && !historicalTransactionsError"
>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <i class="bi bi-database-slash text-secondary"></i>
    <p class="text-center mt-3">No transactions found.</p>
  </div>
</div>

<!-- Error view -->
<div class="d-flex flex-column align-items-center justify-content-center pt-5" *ngIf="historicalTransactionsError">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <i class="bi bi-database-slash text-secondary"></i>
    <p class="text-center mt-3">{{ historicalTransactionsError }}</p>
  </div>
</div>

<!-- Login button -->
<div class="d-flex flex-column align-items-center justify-content-center" *ngIf="!userIsConnected">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <app-chainbrary-button
      [buttonClasses]="['btn-info-gradient', 'text-light']"
      buttonText="Connect Wallet"
      (callToAction)="web3LoginService.openLoginModal()"
      data-id="login-btn"
    />
  </div>
</div>
