<form class="container" [formGroup]="priceSettings">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-7">
      <mat-form-field class="w-100 example-full-width text-dark" appearance="outline">
        <mat-label> Amount (by ETH) </mat-label>
        <input formControlName="amount" type="number" class="text-center" matInput placeholder="Amount" />
      </mat-form-field>
    </div>
  </div>
  <!-- Add a description textarea here -->
  <div class="row justify-content-center">
    <div class="col-10 col-lg-7">
      <mat-form-field class="w-100 example-full-width text-dark" appearance="outline">
        <mat-label> Description </mat-label>
        <textarea
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          matInput
          placeholder="Description"
          maxlength="150"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="row justify-content-center mb-4">
  <div class="col-8 col-md-8 col-lg-5">
    <button class="btn btn-info-gradient w-100 py-2" (click)="goToNextPage.emit()">
      <span class="text-white">Next</span>
    </button>
  </div>
</div>
