<div class="card shadow-sm border-0 cb-card">
  <div class="card-body">
    <ng-container [ngSwitch]="sidebarMode$ | async">
      <ng-container *ngSwitchCase="authStatusCodeTypes.NotConnected">
        <button class="btn btn-primary-gradient w-100 py-2 border-0 py-2" (click)="openLoginModal()">
          <h5 class="mb-0">Login</h5>
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="authStatusCodeTypes.NotVerifiedAndConnected">
        <div class="container">
          <div class="row align-items-center">
            <div class="container-user-icon col-2 d-flex justify-content-center align-items-center">
              <i class="bi bi-person-circle theme-assets-wrapper"></i>
            </div>
            <div class="col-10">
              <h6 class="text-dark mb-0">{{ formatService.formatPublicAddress((publicAddress$ | async)!) }}</h6>
              <div class="d-flex btn-container">
                <p
                  *ngIf="certificationBtnVisible"
                  class="text-primary mb-0 d-inline-block me-3"
                  (click)="goToCertification()"
                >
                  Be certified
                </p>
                <p class="text-muted mb-0 d-inline-block" (click)="logOut()">Log out</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="authStatusCodeTypes.VerifiedAndConnected">
        <div class="container">
          <div class="row">
            <div class="container-user-icon col-2 d-flex justify-content-center align-items-center">
              <div class="avatar position-relative">
                <img [src]="(verifiedAccount$ | async)?.imgUrl" class="rounded-circle" alt="avatar" />
                <div class="avatar-badge" data-toggle="tooltip" data-placement="top" title="Verified">
                  <i class="bi bi-patch-check-fill"></i>
                </div>
              </div>
            </div>
            <div class="col-10">
              <h6 class="text-dark mb-0">{{ formatService.formatPublicAddress((publicAddress$ | async)!) }}</h6>
              <div class="d-flex btn-container">
                <p class="text-primary mb-0 d-inline-block me-3" (click)="goToCertification()">Edit</p>
                <p class="text-muted mb-0 d-inline-block" (click)="logOut()">Log out</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
