<div class="card cb-card shadow border-0 mt-5">
  <!-- Payment Request Card -->
  <ng-template [ngIf]="paymentRequest.payment.data">
    <!-- Avatar -->
    <div class="position-relative">
      <div class="card-header-custom position-absolute w-100">
        <div class="row justify-content-center mx-0">
          <div class="col-5 col-sm-4 col-md-3 col-lg-4 col-xl-4 text-center">
            <app-user-avatar [avatarUrl]="paymentRequest.profile.avatarUrl"></app-user-avatar>
          </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <div class="card-body mt-5">
      <div class="row text-center">
        <div class="col-12">
          <h4 class="card-title text-primary">{{ paymentRequest.profile.username }}</h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 row justify-content-center">
          <hr class="col-4" />
          <div class="col-2"></div>
          <hr class="col-4" />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <h2 *ngIf="!usdIsEnabled">{{ paymentRequest.payment.data.amount }} {{ paymentToken.symbol }}</h2>
          <h4 *ngIf="usdIsEnabled && tokenConversionRate">
            {{ tokenConversionRate }} {{ paymentToken.symbol }}
            <br />
            <span class="conversionValue">(${{ paymentRequest.payment.data.amount }} USD)</span>
          </h4>
          <h4 *ngIf="usdIsEnabled && !tokenConversionRate">
            <span class="blur-text">N/A</span> {{ paymentToken.symbol }}
            <br />
            <h6 class="text-secondary pt-3">
              To retrieve the current conversion rate, ensure the appropriate network is selected in your wallet
            </h6>
          </h4>
          <p class="text-muted px-2 px-md-5 text-start" *ngIf="paymentRequest.payment.data.description">
            {{ paymentRequest.payment.data.description }}
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center my-2">
        <div class="col-10">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-2 my-md-0" *ngIf="AuthStatusCodeTypes.NotConnected === authStatus">
              <app-chainbrary-button
                [buttonClasses]="['btn-info-gradient', 'text-light']"
                [buttonText]="'Web3 login'"
                (callToAction)="openLoginModal.emit()"
              />
            </div>
            <div
              class="col-12 col-md-6 my-2 my-md-0"
              *ngIf="AuthStatusCodeTypes.NotVerifiedAndConnected === authStatus && !tokenIsNative && !canTransfer"
            >
              <app-chainbrary-button
                [isDisabled]="!!canTransferError"
                [buttonClasses]="['btn-primary-gradient', 'text-light']"
                [buttonText]="'Enable ' + paymentToken.symbol"
                (callToAction)="approveSmartContract.emit()"
              />
            </div>
            <div class="col-12 col-md-6 my-2 my-md-0">
              <app-chainbrary-button
                [isDisabled]="conversionRateHasError || !canTransfer"
                [buttonClasses]="['btn-success-gradient', 'text-light']"
                [buttonText]="'Confirm'"
                [buttonType]="'submit'"
                (callToAction)="submitAmount()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Payment Expired -->
  <ng-template [ngIf]="paymentRequest.payment.error">
    <div class="card-body my-3">
      <div class="row text-center">
        <div class="col-12">
          <h4 class="card-title text-danger">Payment Expired</h4>
          <p class="text-muted text-center">{{ paymentRequest.payment.error }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<!-- Powered by ChainBrary message -->
<div class="container">
  <div class="row text-end mt-2">
    <h6 class="text-muted">
      Powered by
      <a [routerLink]="['/']">ChainBrary</a>
    </h6>
  </div>
</div>
