<div class="container">
  <h5>Token details</h5>
  <div class="container mt-3">
    <div class="row">
      <div class="col-6 col-md-4 mb-4">
        <div class="card h-100 d-flex flex-column align-items-center justify-content-center network-card">
          <div class="row mx-0 w-100">
            <div class="text-center mx-auto py-3">
              <img
                [src]="formatService.getIconUrl(tokenPayloadReview.network)"
                [alt]="formatService.getIconUrl(tokenPayloadReview.network)"
              />
            </div>
          </div>
          <div class="d-flex justify-content-center mb-2 text-center px-3">
            {{ networkDetailSelected.name }}
          </div>
        </div>
      </div>
      <div class="col-6 col-md-8">
        <div class="row my-2">
          <div class="col-12">
            <h6 i18n class="text-dark mb-0">Token Name</h6>
            <p class="text-muted">{{ tokenPayloadReview.name }}</p>
            <hr class="mt-0" />
          </div>
          <div class="col-12">
            <h6 i18n class="text-dark mb-0">Token Symbol</h6>
            <p class="text-muted">{{ tokenPayloadReview.symbol }}</p>
            <hr class="mt-0" />
          </div>
          <div class="col-12">
            <h6 i18n class="text-dark mb-0">Decimal</h6>
            <p class="text-muted">{{ tokenPayloadReview.decimals }}</p>
            <hr class="mt-0" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-2">
      <div class="col-12">
        <h6 i18n class="text-dark mb-0">Max Supply</h6>
        <p class="text-muted">{{ tokenPayloadReview.maxSupply }}</p>
        <hr class="mt-0" />
      </div>
      <div class="col-12" *ngIf="optionsChecked.length > 0">
        <h6 i18n class="text-dark">Other Configs</h6>
        <mat-chip-listbox aria-label="Other Configs">
          @for (o of optionsChecked; track optionsChecked) {
            <mat-chip-option selected disabled="">{{ o }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <ng-container *ngIf="!errorRetreivingPrice">
        <div class="col-12 my-2">
          <h6 i18n class="text-dark mb-0">Amount (USD)</h6>
          <p class="text-dark">$ {{ priceOfCreatingToken }}</p>
        </div>
        <div class="col-12 my-2">
          <h6 i18n class="text-dark mb-0">Amount in token</h6>
          <p class="text-dark">
            {{ invoiceAmount + ' ' + networkDetailSelected.nativeCurrency.symbol }}
          </p>
        </div>
      </ng-container>
      <ng-container *ngIf="errorRetreivingPrice">
        <div class="col-12 my-2">
          <p class="text-danger">{{ priceError }}</p>
        </div>
      </ng-container>
      <div class="col-6 col-lg-4 px-2">
        <button class="btn btn-outline-primary w-100" (click)="goBackEvent.emit()">
          {{ commonButtonText.Back }}
        </button>
      </div>
      <div class="col-6 col-lg-4 px-2">
        <button
          [disabled]="errorRetreivingPrice"
          i18n
          class="btn btn-primary w-100"
          (click)="createTokenEventTrigger()"
        >
          Create Token
        </button>
      </div>
    </div>
  </div>
</div>
