<div class="container-fluid bg-container h-100">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="row">
      <div class="col-12 text-start">
        <h3 class="text-dark p-3">
          <i (click)="location.back()" class="bi bi-arrow-left me-3 text-light"></i>
          <span class="text-light">Pay Now</span>
        </h3>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 card">
          <div class="row">
            <div class="col-3 my-auto">
              <div class="icon-wrapper d-flex justify-content-center text-center">
                <i class="bi bi-shop-window"></i>
              </div>
            </div>
            <div class="col-9 my-auto pt-3">
              <h3 class="mb-0">Coffee Bear</h3>
              <p>0x88291058212495....ghrds</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12 px-0">
          <mat-form-field class="w-100">
            <mat-label i18n>Network</mat-label>
            <mat-select formControlName="networkChainId">
              <mat-option *ngFor="let item of [1, 2, 3, 4]" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="title-container d-flex justify-content-center mb-5">
          <img src="./../../../../../assets/icons/cb-logo.svg" alt="logo" class="me-3 my-auto" />
          <h3 class="my-auto text-light">ChainBrary</h3>
        </div>
      </div>
    </div>
  </div>
</div>
