<div class="card shadow-sm border-0 cb-card">
  <div class="card-body">
    <ng-container [ngSwitch]="sidebarMode$ | async">
      <ng-container *ngSwitchCase="authStatusCodeTypes.NotConnected">
        <button class="btn btn-primary-gradient w-100 py-2">
          <h5 class="text-light mb-0">Login</h5>
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="authStatusCodeTypes.NotVerifiedAndConnected">
        <div class="container">
          <div class="row">
            <div class="container-user-icon col-2 d-flex justify-content-center align-items-center">
              <i class="bi bi-person-circle theme-assets-wrapper"></i>
            </div>
            <div class="col-10">
              <h6 class="text-dark mb-0">{{ formatService.formatPublicAddress((publicAddress$ | async)!) }}</h6>
              <p class="text-muted mb-0">Be verified</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="authStatusCodeTypes.VerifiedAndConnected"> </ng-container>
    </ng-container>
  </div>
</div>
