<div class="container-page border-bottom">
  <div class="py-4 py-md-3"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-6 d-flex align-items-center p-0">
        <div class="container">
          <div class="row container-title">
            <h1 i18n class="text-dark">
              <span class="text-primary">Trust, Secure, Safe</span>
              <br />
              Committing to Reliability.
            </h1>
          </div>
          <div class="row py-3 py-md-2">
            <p i18n class="text-secondary">
              ChainBrary is a platform that aims to make blockchain technology more accessible to everyone by providing
              users with a library of open-source and secure tools for building and interacting with blockchain
              applications.
            </p>
          </div>
          <div class="row">
            <div class="col-9 col-sm-6 col-md-5 my-2">
              <a routerLink="./../../use-cases" data-id="explore-solutions">
                <button class="btn btn-primary w-100 py-2">
                  <span i18n class="text-light">Explore solutions</span>
                </button>
              </a>
            </div>
            <div class="col-9 col-sm-6 col-md-5 my-2">
              <a routerLink="./../../community-vaults">
                <button class="btn btn-outline-primary w-100 py-2">
                  <span i18n>Community Vaults</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-none d-sm-none d-md-block">
        <div class="container-header-img d-flex justify-content-center h-100">
          <img class="w-100 h-100" src="./../../../../../assets/images/header-cards.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-2">
      <div class="col-8 text-center">
        <span class="text-secondary">Building trust among various crypto users by supporting different tokens</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-12 text-center">
      <!-- Wrapper div -->
      <div class="icon-wrapper">
        <!-- Container for icons -->
        <div class="icon-container">
          <!-- Original set of icons -->
          <div *ngFor="let item of [0,1,2,3,4]">
            <img src="./../../../../../assets/icons/tokens-name/avalanche-brand.svg" alt="icon"
              class="icon-content px-4" />
          </div>
          <!-- Duplicate set of icons -->
          <div *ngFor="let item of [0,1,2,3,4]">
            <img src="./../../../../../assets/icons/tokens-name/avalanche-brand.svg" alt="icon"
              class="icon-content px-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 py-md-3"></div>
</div>
