.container-page {
  background-image: url('https://chainbraryfrontendassets.blob.core.windows.net/bgs/bg-header-1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-title h1 {
  font-weight: 700;
}

.icon-wrapper {
  overflow-x: hidden;
  white-space: nowrap;
}

.icon-container {
  display: inline-flex;
  animation: slideRight 60s linear infinite;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.icon-content {
  vertical-align: middle;
  margin-right: 10px;
  filter: grayscale(100%);
}
