.container-page {
  background-image: url('./../../../../../assets/bg/light/mask.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-title h1 {
  font-weight: 700;
}
