<div class="container-fluid px-0">
  <div class="row mx-0 text-light justify-content-center">
    <div class="col-12 col-md-8 col-lg-7 p-4 mt-md-3 header-container">
      <h3>
        <i class="bi bi-house me-2"></i>
        <span>Services</span>
      </h3>
      <p>
        Discover Chainbrary: Your Safe, User-Friendly Blockchain Starter Kit. Begin with ease, backed by our commitment
        to your security.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-7">
      <div class="row justify-content-center menu-item" *ngFor="let item of useCaseRoutes; let i = index">
        <div class="col-11 card my-2 shadow border-0 px-0" [routerLink]="'/use-cases' + item.path">
          <div class="disabled-screen" *ngIf="!item.enabled"></div>
          <div class="row mx-0">
            <div class="col-3 icon-container h-100" [ngClass]="'color-gradient-' + i">
              <div class="d-flex h-100">
                <i class="bi text-light m-auto" [ngClass]="item.icon"></i>
              </div>
            </div>
            <div class="col-9 py-md-2">
              <h5 class="pt-2">
                {{ item.title }}
                <span *ngIf="!item.enabled" class="coming-soon-badge text-secondary">(coming soon)</span>
              </h5>
              <p class="text-secondary menu-item-text">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
