<div class="container-fluid px-0">
  <div class="row mx-0 text-light justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 p-4 mt-md-3 header-container">
      <h3>
        <i class="bi bi-house me-2"></i>
        <span i18n>Services</span>
      </h3>
      <p i18n>
        Discover Chainbrary: Your Safe, User-Friendly Blockchain Starter Kit. Begin with ease, backed by our commitment
        to your security.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid px-0">
  <div class="row mx-0 text-light justify-content-center p-2 p-md-0">
    <div class="col-12 col-md-10 col-lg-8 mt-md-3">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 my-2" *ngFor="let item of cards; let i = index">
          <app-service-card [card]="item"></app-service-card>
        </div>
      </div>
    </div>
  </div>
</div>
