$primary: #7951f9;
$tertiary: #2b3035;

$white: #fff;
$black: #000;

$light: #15202b;
$dark: #f8f9fa;

:root {
  --color-primary: $primary;
  --color-dark: $dark;
  --color-tertiary: $tertiary;
  --bs-border-color: #{$tertiary} !important;

  .card {
    --bs-card-bg: #{$tertiary};
  }

  .btn {
    h5,
    h6 {
      color: $white;
    }
  }

  .btn.active {
    background-color: #646464bf !important;
    border: 0;
  }

  body {
    background-color: $light;
  }

  .theme-assets-wrapper {
    filter: invert(100%);
  }

  .btn-primary-gradient {
    border-radius: 10px;
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  }

  .btn-success-gradient {
    border-radius: 10px;
    background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  }
}

@import 'bootstrap';
