$primary: #7951f9;

$light: #15202b;
$dark: #f8f9fa;

:root {
  --color-primary: $primary;
  --color-dark: $dark;

  body {
    background-color: $light;
  }

  .theme-assets-wrapper {
    filter: invert(100%);
  }

  .btn-primary-gradient {
    border-radius: 10px;
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  }

  .btn-success-gradient {
    border-radius: 10px;
    background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  }
}

@import 'bootstrap';
