<div class="container">
  <div class="d-flex justify-content-center pt-4">
    <div class="col-12 col-md-10 col-lg-8">
      <app-header-body-page [header]="headerPayload"></app-header-body-page>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-4">
    <div class="col-12 col-md-10 col-lg-8">
      <app-auth-banner></app-auth-banner>
      <div class="container py-3">
        <div class="row">
          <ng-container *ngIf="(isWrongNetwork | async) === false && urlNetworkFound !== null">
            <app-add-token-card
              [balance]="(userBalance$ | async)!"
              [network]="urlNetworkFound"
              (addToken)="addTokenToVault($event.amount)"
            ></app-add-token-card>
          </ng-container>
          <ng-container *ngIf="(isWrongNetwork | async) === true"> Wrong network </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
