<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Protected Document</h4>
      <p class="text-secondary">
        This document is securely locked and stored using advanced blockchain technology, ensuring unmatched security
        and integrity. Access to its content is exclusively reserved for the document's owner and the initial purchaser,
        reflecting a new standard in document privacy and ownership.
      </p>
    </div>
    <div class="col-12">
      <div class="card border-0 shadow overflow-hidden">
        <div class="card-header d-flex justify-content-center p-5 bg-dark-subtle">
          <i class="bi bi-shield-lock"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ documentLockerContent.documentName }}</h5>
          <p class="card-text text-secondary">
            The detailed description of this document remains securely locked. Full access to this content will be
            granted upon completion of the contract payment, ensuring exclusive access for authorized parties.
          </p>
        </div>
        <div class="card-footer text-body-secondary">By {{ documentLockerContent.ownerName }}</div>
      </div>
    </div>
    <div class="col-12 text-center my-4">
      <app-chainbrary-button
        [buttonClasses]="['btn-primary-gradient', 'text-light']"
        [buttonText]="'Unlock (' + documentLockerContent.price + ' ' + currentNetwork.nativeCurrency.symbol + ')'"
        (callToAction)="unlockDocument.emit()"
      />
    </div>
  </div>
</div>
