<div class="card cb-card border-0 shadow-sm position-relative payment-maker-card-container pb-3">
  <!-- Avatar -->
  <div class="position-relative">
    <div class="card-header-custom position-absolute w-100">
      <div class="row justify-content-center">
        <div class="col-5 col-sm-4 col-md-5 col-lg-4 text-center">
          <app-user-avatar [avatarUrl]="isAvatarUrlValid ? avatarValue : null"></app-user-avatar>
        </div>
      </div>
    </div>
  </div>
  <div class="my-4"></div>
  <!-- Page Container -->
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="profileForm">
      <ng-template matStepLabel>User Details</ng-template>
      <app-payment-request-profile-settings [profileForm]="profileForm" (goToNextPage)="stepper.next()">
      </app-payment-request-profile-settings>
    </mat-step>
    <mat-step [stepControl]="priceForm">
      <ng-template matStepLabel>Payment Details</ng-template>
      <app-payment-request-price-settings
        [priceForm]="priceForm"
        [tokenSelected]="paymentTokenObs | async"
        [currentNetworkObs]="currentNetworkObs"
        [paymentConversion]="(paymentConversionObs | async)!"
        (goToNextPage)="stepper.next(); generatePaymentRequest()"
        (goToPreviousPage)="stepper.previous()"
        (swapCurrency)="swapCurrency()"
      >
      </app-payment-request-price-settings>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review & Confirm</ng-template>
      <app-payment-request-review
        [username]="mainForm.controls.profile.controls.username.value!"
        [amount]="(amount | async)!"
        [previewLink]="linkGenerated"
        [tokenSelected]="(paymentTokenObs | async)"
        [usdAmount]="usdAmount | async"
        [usdEnabled]="priceForm.controls.usdEnabled.value!"
        (goToPreviousPageEvent)="stepper.previous()"
      >
      </app-payment-request-review>
    </mat-step>
  </mat-vertical-stepper>
</div>
