<div class="card shadow-sm border-0 cb-card w-100">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title d-flex align-items-end">Certification Message</h5>
      <button class="btn border-0 btn-success-gradient me-3" routerLink="./../certification">
        <span class="text-light">Know more</span>
      </button>
    </div>
    <p class="card-text pt-2">
      Certification enables users to enhance their profile by adding a unique username, a professional profile picture,
      and a personalized description. In addition, it allows users to track the status of their payments with a unique
      tracking number, adding an extra layer of professionalism to the payment process.
    </p>
    <p class="card-text d-flex">
      <small (click)="hideCertifficationCardHandler()" class="text-muted btn-footer">Hide</small>
    </p>
  </div>
</div>
