<div class="card shadow-sm border-0 cb-card w-100">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title d-flex align-items-end text-dark">Certification</h5>
      <button class="btn border-0 btn-success-gradient me-3 py-2" routerLink="./../certification">
        <h6 class="mb-0">Know more</h6>
      </button>
    </div>
    <p class="card-text pt-2 text-dark">
      Certification enhances profiles with a unique username, professional photo, and personalized description.
    </p>
    <p class="card-text d-flex">
      <small (click)="hideCertifficationCardHandler()" class="text-muted btn-footer">Hide</small>
    </p>
  </div>
</div>
