<!-- Body -->
<div class="card-body">
  <!-- Avatar -->
  <div class="position-relative">
    <div class="card-header-custom position-absolute w-100">
      <div class="row justify-content-center">
        <div class="col-5 col-sm-4 col-md-5 col-lg-4 text-center">
          <app-user-avatar [avatarUrl]="avatarUrl"></app-user-avatar>
        </div>
      </div>
    </div>
  </div>
  <!-- Form -->
  <form [formGroup]="mainForm">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-7">
        <mat-form-field class="w-100 example-full-width" appearance="outline">
          <mat-label>Url</mat-label>
          <input formControlName="avatarUrl" type="link" class="text-center" matInput placeholder="https://my-url" />
          <mat-error *ngIf="mainForm.get('avatarUrl')!.hasError('invalidUrl')">
            Url does not include <strong>https</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-7">
        <mat-form-field class="w-100 example-full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="username" type="name" class="text-center" matInput placeholder="Name" />
          <mat-error *ngIf="mainForm.get('username')!.hasError('maxlength')">
            Name must be less than 20 characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-7">
        <mat-form-field class="w-100 example-full-width text-dark" appearance="outline">
          <mat-label>Description</mat-label>
          <input formControlName="description" type="name" class="text-center" matInput placeholder="Description" />
          <mat-error *ngIf="mainForm.get('description')!.hasError('maxlength')">
            Name must be less than 20 characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="!newEstimatedExpirationDate && edited && !accountExpired">
      <div class="col-10 col-lg-7 text-end">
        <p *ngIf="profileAccount | async; let p" class="pe-3 mb-0 text-primary">
          Already certified until: {{ formatService.timeStampToDate(p.expirationDate) | date : 'dd/MM/yyyy' }}
        </p>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="!newEstimatedExpirationDate && edited && accountExpired">
      <div class="col-10 col-lg-7 text-end">
        <p *ngIf="profileAccount | async; let p" class="pe-3 mb-0 text-danger">
          Expired since : {{ formatService.timeStampToDate(p.expirationDate) | date : 'dd/MM/yyyy' }}
        </p>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="newEstimatedExpirationDate">
      <div class="col-10 col-lg-7 text-end">
        <p *ngIf="profileAccount | async; let p" class="pe-3 mb-0 text-success">
          Expired until : {{ newEstimatedExpirationDate | date : 'dd/MM/yyyy' }}
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-7">
        <mat-form-field class="w-100 example-full-width text-dark" appearance="outline">
          <mat-label> Add Months (by 30days) {{ mainForm.get('month')?.validator ? '' : '(optional)' }} </mat-label>
          <input formControlName="month" type="number" class="text-center" matInput placeholder="Number of month" />
          <mat-error *ngIf="mainForm.get('month')!.hasError('min')"> Number of month must be greater than 0 </mat-error>
          <mat-error *ngIf="mainForm.get('month')!.hasError('max')"> Number of month must be less than 12 </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-8 col-lg-5" (click)="submitForm()">
        <app-chainbrary-button
          [buttonClasses]="['btn-success-gradient', 'text-light']"
          [buttonText]="'Confirm'"
          [buttonType]="'submit'"
        />
      </div>
    </div>
    <div *ngIf="priceEth > 0" class="row justify-content-center my-4">
      <div class="col-10 col-lg-7">
        <div class="row justify-content-center">
          <div class="col-10 text-center">
            <h6 class="text-primary">Price : {{ priceEth.toFixed(18) }} ETH</h6>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
