// import form.css
@import './../../../../../shared/styles/form.scss';

hr {
  border-color: var(--bs-success);
}

.body-sample-container {
  background-color: var(--bs-border-color);
  border-radius: 15px;
}

.btn {
  color: white;
}
