<div class="container p-4">
  <div class="card-header">
    <h2 class="card-title mb-2">{{ pageSelected.label }}</h2>
    <p class="text-muted">{{ pageSelected.desc }}</p>
  </div>
  <div class="card-body py-2">
    <ng-container [ngSwitch]="pageSelected.key">
      <ng-container *ngSwitchCase="optionActionBtnTypes.Mint">
        <form [formGroup]="amountForm">
          <div class="form-group row">
            <div class="col-12">
              <mat-checkbox formControlName="addMyself" class="text-dark" color="primary">
                <span i18n>Add myself as recipient</span>
              </mat-checkbox>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100 text-dark" appearance="outline">
                <mat-label i18n>Recipient</mat-label>
                <input formControlName="recipient" type="text" class="ps-1" matInput />
                <mat-error i18n *ngIf="amountForm.get('recipient')?.hasError('required')">
                  Recipient is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100 text-dark" appearance="outline">
                <mat-label i18n>Amount</mat-label>
                <input formControlName="amount" type="number" class="ps-1" matInput />
                <mat-error i18n *ngIf="amountForm.get('amount')?.hasError('required')"> Value is required </mat-error>
                <mat-error i18n *ngIf="amountForm.get('amount')?.hasError('min')">
                  Value has to be greater than 0
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="optionActionBtnTypes.Burn">
        <form [formGroup]="amountForm">
          <div class="form-group row">
            <div class="col-12">
              <mat-checkbox formControlName="addMyself" class="text-dark" color="primary">
                <span i18n>Burning account</span>
              </mat-checkbox>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100 text-dark" appearance="outline">
                <mat-label i18n>Recipient</mat-label>
                <input formControlName="recipient" type="text" class="ps-1" matInput />
                <mat-error i18n *ngIf="amountForm.get('recipient')?.hasError('required')">
                  Recipient is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100 text-dark" appearance="outline">
                <mat-label i18n>Amount</mat-label>
                <input formControlName="amount" type="number" class="ps-1" matInput />
                <mat-error i18n *ngIf="amountForm.get('amount')?.hasError('required')"> Value is required </mat-error>
                <mat-error i18n *ngIf="amountForm.get('amount')?.hasError('min')">
                  Value has to be greater than 0
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="optionActionBtnTypes.Transfer">
        <form [formGroup]="amountForm">
          <div class="form-group row">
            <div class="col-12" *ngIf="currentBalance$ | async; let c">
              <div class="text-muted d-flex">
                <span class="pe-2 mb-3" i18n>Current balance:</span>
                <span>{{ c }}</span>
              </div>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100 text-dark" appearance="outline">
                <mat-label i18n>Recipient</mat-label>
                <input formControlName="recipient" type="text" class="ps-1" matInput />
                <mat-error i18n *ngIf="amountForm.get('recipient')?.hasError('required')">
                  Recipient is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100 text-dark" appearance="outline">
                <mat-label i18n>Amount</mat-label>
                <input formControlName="amount" type="number" class="ps-1" matInput />
                <mat-error i18n *ngIf="amountForm.get('amount')?.hasError('required')"> Value is required </mat-error>
                <mat-error i18n *ngIf="amountForm.get('amount')?.hasError('min')">
                  Value has to be greater than 0
                </mat-error>
                <mat-error i18n *ngIf="amountForm.get('amount')?.hasError('max')">
                  Value has to be less than current balance
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </ng-container>
    </ng-container>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <div class="col-3 px-2">
      <button (click)="dialogRef.close()" class="w-100 btn btn-outline-secondary" type="button">Back</button>
    </div>
    <div class="col-3 px-2">
      <button class="w-100 btn btn-primary" type="submit" (click)="submitAction()">Mint</button>
    </div>
  </div>
</div>
