<!-- Form container -->
<div class="container">
  <form [formGroup]="mainForm">
    <div class="row mx-0">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Document name</mat-label>
          <input formControlName="documentName" matInput data-id="document-name-input" type="text" />
          <mat-error *ngIf="mainForm.get('documentName')?.hasError('required')"> Document name is required </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Document created by</mat-label>
          <input formControlName="ownerName" matInput type="text" />
          <mat-error *ngIf="mainForm.get('ownerName')?.hasError('required')"> Document name is required </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Network</mat-label>
          <mat-select formControlName="networkChainId">
            <mat-option *ngFor="let network of networkList" [value]="network.chainId">
              {{ network.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="mainForm.get('networkChainId')?.hasError('required')"> Network is required </mat-error>
          <mat-error *ngIf="mainForm.get('networkChainId')?.hasError('notMatching')">
            Network is not matching with wallet
            <a
              *ngIf="(currentNetworkObs | async) === null"
              class="text-primary"
              (click)="web3LoginService.openLoginModal()"
              >(Login)</a
            ></mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100 text-dark" appearance="outline">
          <mat-label>Amount</mat-label>
          <input formControlName="price" type="number" class="ps-1" matInput />
          <div class="d-flex" matSuffix>
            <h6 class="mb-0 px-3">
              <!-- <ng-container *ngIf="tokenSelected">{{ tokenSelected.symbol }}</ng-container> -->
              <ng-container>SEP</ng-container>
            </h6>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea formControlName="desc" matInput></textarea>
          <mat-error *ngIf="mainForm.get('desc')?.hasError('required')"> Description is required </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 mb-3">
        <mat-checkbox formControlName="termsAndCond" color="primary">
          <span class="checkbox-label">
            Accept
            <a class="terms-link">terms and conditions</a>
          </span>
          <!-- TODO: -->
          <mat-error
            *ngIf="mainForm.get('termsAndCond')?.hasError('required') && mainForm.get('termsAndCond')?.touched"
          >
            You must accept the terms and conditions
          </mat-error>
        </mat-checkbox>
      </div>
      <div class="col-12 text-center">
        <app-chainbrary-button
          data-id="start-bid-btn"
          [buttonClasses]="['btn-info-gradient', 'text-light']"
          buttonText="Generate Document"
          (callToAction)="submitForm()"
        />
      </div>
    </div>
  </form>
</div>
