<div class="container">
  <div class="row justify-content-center mt-3 mb-5">
    <div class="col-11 col-sm-12 col-md-10 col-lg-8 px-0">
      <!-- <app-transaction-card></app-transaction-card> -->
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-11 col-sm-12 col-md-10 col-lg-8 card cb-card border-0 shadow position-relative">
      <app-certification-edit-card
        [authStatus]="authStatus$ | async"
        [profileAccount]="profileAccount$"
        [publicAddress]="publicAddress$ | async"
        [dailyPrice]="(dailyPrice$ | async)!"
        (openLoginModal)="openLoginModal()"
        (saveProfile)="saveProfile($event)"
      ></app-certification-edit-card>
    </div>
  </div>
</div>
