<!-- Banner message -->
<div *ngIf="isPaymentMaker | async" class="row text-light px-4 py-3 bg-banner mx-0" data-id="warning-banner">
  <div class="w-100">
    <h6 class="mb-0">
      <i class="bi bi-exclamation-triangle me-2"></i>
      <span>Attention: This is a preview of your request. Avoid the mistake of self-payment.</span>
    </h6>
  </div>
</div>

<div class="container bg-light pb-5">
  <!-- Title container -->
  <div class="row justify-content-center mt-3">
    <div class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 text-start">
      <h3 class="text-dark">Payment Request</h3>
      <hr />
    </div>
  </div>

  <!-- Description -->
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 text-start">
      <p class="text-muted">
        You've reached ChainBrary's secure payment portal. Fast, secure, and reliable cryptocurrency transactions start
        here. Verify, confirm, and go!
      </p>
    </div>
  </div>

  <!-- Success Message -->
  <div *ngIf="(transactionCards$ | async)?.length! > 0">
    <div class="d-flex justify-content-center">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <app-transaction-card [cardContent]="(transactionCards$ | async)![0]"></app-transaction-card>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 pe-3">
        <h6 class="text-muted text-end">
          Powered by
          <a [routerLink]="['/']">ChainBrary</a>
        </h6>
      </div>
    </div>
  </div>
  <div *ngIf="(transactionCards$ | async)?.length! === 0">
    <!-- Wrong network message -->
    <div *ngIf="paymentSelectedInvalid$ | async" class="d-flex justify-content-center">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="alert alert-danger border-0 shadow-sm" data-id="wrong-network-alert" role="alert">
          <div class="d-flex justify-content-between pb-2">
            <h4 class="alert-heading my-auto">Wrong network</h4>
            <app-chainbrary-button
              [buttonClasses]="['btn-primary', 'text-light']"
              buttonText="Switch network"
              (callToAction)="changeNetwork()"
            />
          </div>
          <p class="mb-md-0">
            Please be connected on the <strong>{{ (paymentNetwork$ | async)?.name }}</strong> network to use this
            feature.
          </p>
        </div>
      </div>
    </div>
    <!-- Connected view header -->
    <div class="d-flex justify-content-center">
      <div class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <app-use-cases-sidebar-header
          [networkFrozen]="true"
          *ngIf="AuthStatusCodeTypes.NotConnected !== (authStatus$ | async)"
        >
        </app-use-cases-sidebar-header>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <!-- Loading animation -->
      <div
        class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 my-5"
        *ngIf="paymentIsLoading$ | async; else paymentRequestCard"
      >
        <div class="d-flex justify-content-center">
          <div class="spinner-container spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <ng-template #paymentRequestCard>
        <div class="col-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 mt-2">
          <!-- USD message -->
          <div
            *ngIf="(selectPaymentRequestState$ | async)?.payment?.data?.usdEnabled && tokenInfo"
            class="card shadow-sm border-0 mt-2"
          >
            <div class="card-body">
              <p class="text-dark mb-0 px-2" data-id="mathing-amount-message">
                <strong>{{ (selectPaymentRequestState$ | async)?.profile?.username }}</strong> is requesting a sum
                equivalent to <strong>${{ (selectPaymentRequestState$ | async)?.payment?.data?.amount }} USD</strong>.
                <br />
                To ensure accuracy, the transaction will be precisely calculated to match this amount in
                {{ tokenInfo }} prior to processing the payment.
              </p>
            </div>
          </div>
          <!-- Error message -->
          <ng-container *ngIf="canTransferError$ | async as canTransferError; else showPaymentRequest">
            <div class="alert alert-danger border-0 shadow-sm mt-3" role="alert">
              <h4 class="alert-heading">Error</h4>
              <p>{{ canTransferError }}</p>
            </div>
          </ng-container>
          <!-- Payment request card -->
          <ng-template #showPaymentRequest>
            <app-payment-request-card
              [canTransfer]="(smartContractCanTransfer$ | async)!"
              [canTransferError]="canTransferError$ | async"
              [currentNetworkObs]="currentNetwork$"
              [paymentNetwork]="paymentNetwork$ | async"
              [authStatus]="(authStatus$ | async)!"
              [publicAddress]="publicAddress$ | async"
              [paymentRequest]="(selectPaymentRequestState$ | async)!"
              [walletProviderObs]="walletConnected$"
              (openLoginModal)="openLoginModal()"
              (submitPayment)="submitPayment($event)"
              (approveSmartContract)="approveSmartContract()"
            >
            </app-payment-request-card>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
</div>
