<div class="container bg-light">
  <div class="d-flex justify-content-center">
    <div class="col-4 my-5" *ngIf="cardIsLoading$ | async; else paymentRequestCard">
      <div class="d-flex justify-content-center">
        <div class="spinner-container spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <ng-template #paymentRequestCard>
      <div class="col-4 my-5">
        <app-payment-request-card
          [authStatus]="(authStatus$ | async)!"
          [publicAddress]="publicAddress$ | async"
          [paymentRequest]="(selectPaymentRequestState$ | async)!"
          (openLoginModal)="openLoginModal()"
        ></app-payment-request-card>
      </div>
    </ng-template>
  </div>
</div>
