.container-page {
  background-image: url('./../../../../../assets/bg/light/mask2.svg');
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  overflow: hidden;
}

.card {
  border: 0;
  box-shadow: 1px 1px 1.875rem rgba(216, 125, 251, 0.42);
}

.container-icon-card {
  i {
    font-size: 7rem;
  }

  .bi-file-earmark-code,
  .bi-inboxes-fill-code {
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .bi-universal-access {
    background: linear-gradient(to top, #904e95, #e96443);
    background: -webkit-linear-gradient(to top, #904e95, #e96443);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .bi-eye {
    background: linear-gradient(to left, #e100ff, #7f00ff);
    background: -webkit-linear-gradient(to left, #e100ff, #7f00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
}
