.container-page {
  background-image: url('https://chainbraryfrontendassets.blob.core.windows.net/bgs/bg-header-2.svg');
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  overflow: hidden;
}

.map-container {
  background-image: url('https://chainbraryfrontendassets.blob.core.windows.net/bgs/bg-header-3.svg');
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  overflow: hidden;
}
.social-madia-card-container {
  background: linear-gradient(257deg, #f0ecff 2.65%, #fff 85.85%);

  i {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
}

.social-madia-card-container.card:hover {
  background: linear-gradient(257deg, #f0ecff 2.65%, #f2f2f254 85.85%);
}
