<div class="container-page border-bottom pb-sm-5">
  <div class="container py-sm-4 py-md-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-4 my-2 my-lg-0" *ngFor="let item of cards">
        <div class="card p-3 pl-4 h-100">
          <div class="container container-icon-card">
            <div class="row">
              <div class="col">
                <i class="bi" [ngClass]="item.icon"></i>
              </div>
            </div>
          </div>
          <div class="card-body text-dark">
            <h3 class="mb-3">{{ item.title }}</h3>
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>