<form [formGroup]="profileForm" class="pt-2">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-9">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label i18n>Wallet Address</mat-label>
        <input formControlName="publicAddress" type="text" matInput placeholder="0x" data-id="address-input" />
        <div
          *ngIf="!profileForm.get('publicAddress')?.value"
          class="btn login-btn mx-2 btn-primary-gradient"
          matSuffix
          (click)="openLoginModal($event)"
          data-id="login-btn"
        >
          <span class="text-light">Login</span>
        </div>
        <mat-error i18n *ngIf="profileForm.get('publicAddress')?.hasError('invalidAddress')">
          A wallet address must start with 0x
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-9">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label i18n>Name</mat-label>
        <input formControlName="username" type="text" matInput placeholder="Name" data-id="username-input" />
        <mat-error i18n *ngIf="profileForm.get('username')!.hasError('maxlength')">
          Name must be less than 20 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="profileForm.get('publicAddress')?.invalid">
    <div class="col-12 col-lg-10 col-xl-9 text-center mb-2">
      <mat-error i18n *ngIf="profileForm.get('publicAddress')?.touched">
        Enter your wallet address to receive funds
      </mat-error>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-9" (click)="submitForm()" data-id="submit-button">
      <app-chainbrary-button
        [buttonClasses]="['btn-success-gradient', 'text-light']"
        [buttonText]="commonButtonText.Next"
        buttonType="submit"
      />
    </div>
  </div>
</form>
