<div class="container">
  <div class="d-flex justify-content-center pt-2">
    <div class="col-12">
      <app-header-body-page [header]="headerPayload"></app-header-body-page>
    </div>
  </div>
  <ng-container *ngIf="(tokenIsLoading$ | async) === false && (tokenDetail$ | async) !== null">
    <div class="card border-0 shadow-lg p-2">
      <div class="container">
        <div class="my-2 card-header border-0">
          <div class="row bg-primary-subtle py-2">
            <div class="col-4">
              <div class="card h-100 d-flex flex-column align-items-center justify-content-center network-card">
                <div class="row mx-0 w-100">
                  <div class="text-center mx-auto py-3">
                    <img
                      [src]="formatService.getIconUrl(networkDetailSelected.chainId)"
                      [alt]="formatService.getIconUrl(networkDetailSelected.chainId)"
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center mb-2 text-center px-3">
                  {{ networkDetailSelected.name }}
                </div>
              </div>
            </div>
            <div class="col-8 my-auto">
              <h6 class="text-dark">{{ (tokenDetail$ | async)?.name }}</h6>
              <p class="text-muted mb-0">{{ (tokenDetail$ | async)?.symbol }}</p>
            </div>
          </div>
        </div>
        <div class="row my-2">
          @for (item of [0, 1, 2, 3, 4]; track item) {
            <div class="col-6 py-2">
              <button class="btn btn-outline-primary w-100">Button {{ item }}</button>
            </div>
          }
        </div>
      </div>
    </div>
  </ng-container>
</div>
