<div class="card border-0 shadow h-100">
  <img [ngClass]="{ imgDisabled: card.isDisabled }" class="img-fluid" [src]="card.img" />
  <div class="container h-100 p-3">
    <h4 class="text-dark">{{ card.title }}</h4>
    <p class="text-secondary">{{ card.description }}</p>
  </div>
  <div class="container mt-auto py-3">
    <a [routerLink]="card.routerUrl" *ngIf="card.isDisabled === undefined" [attr.data-id]="'btn-' + card.id">
      <button i18n class="btn btn-outline-primary w-100">Learn more</button>
    </a>
    <ng-container *ngIf="card.isDisabled">
      <button i18n class="btn btn-outline-primary w-100 bg-primary-subtle border-dashed" disabled>Coming soon..</button>
    </ng-container>
  </div>
</div>
