<div class="container-fluid bg-container h-100">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="row">
      <div class="col-12 text-start shadow bg-light">
        <h3 class="text-dark pt-3 pb-2">
          <i (click)="location.back()" class="bi bi-arrow-left me-3"></i>
          <span>Scan QR to Pay</span>
        </h3>
      </div>
      <div class="col-12 pt-4">
        <p class="text-light px-3">Scan QR code at the vendors and pay with crypto currency.</p>
      </div>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-11 text-center position-relative">
        <div class="qr-scanner p-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 352" fill="none">
            <path
              d="M88.7869 1H33C15.3269 1 1 15.3269 1 33V84.7705M88.7869 351H33C15.3269 351 1 336.673 1 319V262.066M272.393 1H319C336.673 1 351 15.3269 351 33V84.7705M272.393 351H319C336.673 351 351 336.673 351 319V262.066"
              stroke="white"
              stroke-width="2"
            />
          </svg>
          <ngx-scanner-qrcode [config]="scannerConfig" #action="scanner"></ngx-scanner-qrcode>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="title-container d-flex justify-content-center mb-5">
          <img src="./../../../../../assets/icons/cb-logo.svg" alt="logo" class="me-3 my-auto" />
          <h3 class="my-auto text-light">ChainBrary</h3>
        </div>
      </div>
    </div>
  </div>
</div>
