<div class="container px-0">
  <app-use-cases-header [header]="headerPayload"></app-use-cases-header>
  <!-- Payment request maker -->
  <div class="row justify-content-center my-3">
    <div class="co-12 col-md-10 col-lg-9 col-xl-8">
      <app-payment-request-maker
        [publicAddressObs]="publicAddress$"
        [currentNetworkObs]="currentNetwork$"
        [paymentTokenObs]="paymentToken$"
        [paymentConversionObs]="paymentConversion$"
        [resetTransactionObs]="resetTransaction$"
        (setUpTokenChoice)="setUpTokenChoice($event)"
        (applyConversionToken)="applyConversionToken($event)"
        (switchToUsd)="switchToUsd($event)"
      >
      </app-payment-request-maker>
    </div>
  </div>
</div>
