<div class="container px-0">
  <!-- Title container -->
  <div class="row justify-content-center mt-3 mb-5">
    <div class="col-11 col-sm-12 col-md-10 col-lg-9 col-xl-8 text-center">
      <h3 class="text-dark">Payment Request</h3>
    </div>
  </div>
  <!-- Payment request maker -->
  <div class="row justify-content-center my-3">
    <div class="col-11 col-sm-12 col-md-10 col-lg-9 col-xl-8">
      <app-payment-request-maker
        [publicAddressObs]="publicAddress$"
        [currentNetworkObs]="currentNetwork$"
        [paymentTokenObs]="paymentToken$"
        [paymentConversionObs]="paymentConversion$"
        (setUpTokenChoice)="setUpTokenChoice($event)"
        (applyConversionToken)="applyConversionToken($event)"
        (switchToUsd)="switchToUsd($event)"
      >
      </app-payment-request-maker>
    </div>
  </div>
</div>
