.container-user-icon i {
  font-size: 2.5rem;
}

.avatar img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
}

.avatar-badge {
  position: absolute;
  bottom: -15px;
  right: -4px;

  i {
    font-size: 1.5rem;
  }
}

.btn-container p {
  cursor: pointer;
}

.btn-container .btn-logout:hover {
  text-decoration: underline;
}

.menu-btn i {
  position: relative;
  top: 1.5px;
}
