<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 col-md-11 col-lg-9">
      <table class="table text-dark">
        <tbody>
          <tr>
            <td>Account</td>
            <td>{{ username }}</td>
          </tr>
          <tr>
            <td>Payment</td>
            <td>{{ amount }} {{ networkSymbol }}</td>
          </tr>
          <tr>
            <td>Protocol Fee (0.1%)</td>
            <td>{{ protocolFeeAmount }} {{ networkSymbol }}</td>
          </tr>
          <tr>
            <td><strong>Receiving Amount</strong></td>
            <td>
              <strong>{{ receivingAmount }} {{ networkSymbol }}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-9">
      <div class="row">
        <div class="col-12 col-lg-6 py-2 py-lg-0">
          <app-chainbrary-button
            [buttonClasses]="['btn-secondary-gradient', 'text-white']"
            [buttonText]="'Back'"
            (callToAction)="goToPreviousPageEvent.emit()"
          />
        </div>
        <div class="col-12 col-lg-6 py-2 py-lg-0">
          <app-chainbrary-button
            [buttonClasses]="['btn-warning-gradient', 'text-white']"
            [buttonText]="'Preview'"
            (callToAction)="goToPaymentPage()"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Link generated -->
  <div class="row justify-content-center mb-4">
    <div class="col-9">
      <div class="row">
        <h6 class="text-muted">Link generated</h6>
        <div class="input-group">
          <input type="text" class="form-control" [value]="previewLink" readonly />
          <div class="input-group-append">
            <app-chainbrary-button
              [buttonClasses]="['btn-outline-secondary']"
              (callToAction)="clickCopyLinkEvent()"
              matTooltip="Copy to clipboard"
              [cdkCopyToClipboard]="previewLink"
            >
              <i class="bi bi-files"></i>
            </app-chainbrary-button>
          </div>
        </div>
      </div>
      <div class="d-flex my-2 qr-code-btn" (click)="showQRCode()">
        <i class="bi bi-qr-code-scan mx-2 text-primary"></i>
        <h6 class="text-primary my-auto">Show QR Code</h6>
      </div>
    </div>
  </div>
</div>
