<!-- Default Avatar -->
<div class="avatar-container position-relative" *ngIf="!avatarUrl">
  <i class="bi bi-person-circle theme-assets-wrapper"></i>
  <div *ngIf="editable" class="container-edit-button gradient-info" (click)="onEditClick.emit()">
    <i class="bi bi-pencil-square theme-assets-wrapper"></i>
  </div>
</div>

<!-- Custom Avatar -->
<div class="row justify-content-center" *ngIf="avatarUrl">
  <div class="col-12 col-sm-12 col-xl-9 avatar-container">
    <img class="avatar-img avatar rounded-circle" [src]="avatarUrl" alt="avatar image" />
  </div>
</div>
