@import './../../../../../../shared/styles/form.scss';

.bi-arrow-left {
  cursor: pointer;
}

.upload-image-container {
  border-radius: 12px;
  border: 1px dashed #9e9e9e;
  cursor: pointer;
}

.upload-image-container:hover {
  background-color: #9e9e9e24;
}

.bi-image {
  font-size: 2rem;
}
