<div class="container px-0 pt-3 pb-5">
  <div class="row justify-content-center mx-0">
    <div class="col-12 col-md-8 col-lg-7 col-xl-6">
      <!-- Header -->
      <app-use-cases-header [header]="headerPayload"></app-use-cases-header>
      <!-- Login controls -->
      <ng-container *ngIf="selectIsConnected$ | async">
        <app-use-cases-sidebar-header> </app-use-cases-sidebar-header>
      </ng-container>
      <!-- Payment request maker -->
      <div class="mt-5">
        <app-payment-request-maker
          [publicAddressObs]="publicAddress$"
          [currentNetworkObs]="currentNetwork$"
          [paymentTokenObs]="paymentToken$"
          [paymentConversionObs]="paymentConversion$"
          [resetTransactionObs]="resetTransaction$"
          (setUpTokenChoice)="setUpTokenChoice($event)"
          (applyConversionToken)="applyConversionToken($event)"
        >
        </app-payment-request-maker>
      </div>
    </div>
  </div>
</div>
