@import './../../../../../../node_modules/bootstrap/scss/mixins';
@import './../../../../../../node_modules/bootstrap/scss/functions';
@import './../../../../../../node_modules/bootstrap/scss/variables';

.bg-container-1 {
  position: relative;
  background: #fcf1f7;
}

.bg-container-2 {
  background-image: url('./../../../../../assets/bg/light/mask.svg');
  background-size: cover;
}

.header-container {
  z-index: 1;
}

.ellpipse-container {
  width: 100%;
  height: 8.5rem;
  background: url('./../../../../../assets/bg/light/landing-page-cover.svg') no-repeat center center;
  background-size: contain;

  @include media-breakpoint-up(md) {
    height: 15rem;
  }

  @include media-breakpoint-up(lg) {
    height: 20rem;
  }

  @include media-breakpoint-up(xl) {
    height: 22rem;
  }
}

.vertical-bar {
  width: 2px;
  background-color: #ccc; /* Gray background for the bar */
  position: relative;
}

.progress-indicator {
  width: 100%;
  background-color: #000; /* Black color for progress */
  position: absolute;
  top: 0; /* Start from the bottom */
  transition: height 0.5s ease; /* Smooth transition for height change */
}

.icon {
  font-size: 1.5rem;
  transition: transform 0.5s ease;
}

.highlight {
  transform: scale(1.5);
}
