<div class="container pt-3">
  <app-header-body-page [header]="headerPayload"></app-header-body-page>
  <div class="container">
    <div class="row my-2">
      <h4 i18n>Scope of the Program</h4>
      <markdown i18n ngPreserveWhitespaces>
        This program is specifically designed for our websites and applications. We prioritize the detection and prevention of incidents that may lead to:

        - Direct unauthorized access to or draining of locked user funds.
        - Social engineering attacks that could result in users inadvertently authorizing transactions or being redirected to malicious sites.
      </markdown>
    </div>
    <div class="row my-2">
      <h4 i18n>Eligibility Criteria</h4>
      <markdown i18n ngPreserveWhitespaces>
        To participate in the Chainbrary Bug Bounty Program, you must:

        1. Identify a previously unreported and non-public vulnerability. The vulnerability should be unknown to our team and fall within the program's defined scope.
        2. Be at least 18 years of age. Participants below 18 must have consent from a parent or guardian.
        3. Provide comprehensive details to enable our engineering team to reproduce, understand, and address the vulnerability.
      </markdown>
    </div>
    <div class="row my-2">
      <h4 i18n class="mb-3">Reward Tiers</h4>
      <p i18n>Our reward system is categorized based on the severity of the vulnerability discovered:</p>
      <div class="table-responsive shadow px-0 table-container mb-3">
        <table class="table m-0">
          <thead class="bg-primary-subtle">
            <tr>
              <th i18n scope="col">Severity Level</th>
              <th i18n scope="col">Reward Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td i18n>Critical</td>
              <td>AUD $2000</td>
            </tr>
            <tr>
              <td i18n>Medium</td>
              <td>AUD $1000</td>
            </tr>
            <tr>
              <td i18n>Low</td>
              <td>AUD $500</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row my-2">
      <h4 i18n>Terms and Conditions</h4>
      <markdown i18n ngPreserveWhitespaces>
        - Submissions must include a Proof of Concept (PoC) demonstrating the vulnerability's exploitability. This could be in the form of a smart contract or a transaction.
        - XSS (Cross-Site Scripting) reports are limited to those that potentially induce users to authorize transactions or cause redirects.
        - Our team reserves the right to evaluate the impact and authenticity of the reported vulnerability.
      </markdown>
    </div>
    <div class="row my-2">
      <h4 i18n>Submission Process</h4>
      <p i18n>To submit a report, please email us at <a href="chainbrary@outlook.com">chainbrary@outlook.com</a>. Ensure your report is detailed and includes the necessary evidence for validation.</p>
    </div>
    <div class="row my-2">
      <h4 i18n>Our Commitment</h4>
      <p i18n>Chainbrary is dedicated to maintaining the highest security standards and protecting our community. We value your contributions and strive to make our platform safe for all users.</p>
    </div>
  </div>
</div>
