<div class="container-fluid d-flex justify-content-center align-items-center bg-container h-100">
  <div class="d-flex flex-column justify-content-center">
    <div class="mb-5">
      <div class="scene w-100">
        <div class="cube-wrapper">
          <div class="cube">
            <div class="cube-faces">
              <div class="cube-face shadow"></div>
              <div class="cube-face bottom"></div>
              <div class="cube-face top"></div>
              <div class="cube-face left"></div>
              <div class="cube-face right"></div>
              <div class="cube-face back"></div>
              <div class="cube-face front"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <h6>Please wait while we process your transaction. Make sure to complete the transaction on your wallet.</h6>
    </div>
  </div>
</div>
