<!-- Title container -->
<app-use-cases-header [header]="headerPayload"></app-use-cases-header>
<!-- Body -->
<ng-container *ngIf="(documentLockedIsLoading$ | async) === false && (documentLocked$ | async) !== null">
  <app-document-locker-content [documentLockerContent]="(documentLocked$ | async)!"></app-document-locker-content>
</ng-container>
<!-- Loading -->
<ng-container *ngIf="(documentLockedIsLoading$ | async) === true">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="d-flex flex-column align-items-center pt-5">
        <mat-spinner [diameter]="50" [strokeWidth]="2"></mat-spinner>
        <p class="mt-3 text-secondary text-center">
          <span>Searching document locked</span>
        </p>
      </div>
    </div>
  </div>
</ng-container>
<!-- Error message -->
<div *ngIf="documentLockedIsError$ | async as error" class="col-12 my-2">
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
</div>
