<form class="container pt-2" [formGroup]="priceForm">
  <!-- Warning message for LogIn -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <div class="alert alert-warning border-0" role="alert" *ngIf="(currentNetworkObs | async) === null">
        <div class="d-flex align-items-center">
          <p class="mb-0">
            <i class="bi bi-exclamation-triangle-fill"></i>
            A connected wallet is required for conversion rates.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Token choice -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Choose token</mat-label>
        <div formGroupName="token">
          <mat-select formControlName="tokenId">
            <ng-container *ngIf="currentNetworkObs | async">
              <mat-option *ngFor="let t of tokenList" [value]="t.tokenId">{{ t.name }} ({{ t.symbol }})</mat-option>
            </ng-container>
            <ng-container *ngIf="(currentNetworkObs | async) === null">
              <mat-optgroup *ngFor="let group of tokenGroup" [label]="group.name + ' (NETWORK)'">
                <mat-option (click)="saveGroup(group.nativeToChainId!)"
                  *ngFor="let t of getTokenByChainId(group.nativeToChainId!)" [value]="t.tokenId">{{ t.name }} ({{
                  t.symbol }})</mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-select>
        </div>
      </mat-form-field>
    </div>
  </div>
  <!-- Amount -->
  <div class="row">
    <div class="col-12">
      <mat-form-field class="w-100 text-dark" appearance="outline" subscriptSizing="dynamic">
        <mat-label>Amount</mat-label>
        <input formControlName="amount" type="number" class="ps-1" matInput />
        <div class="d-flex" matSuffix>
          <mat-spinner *ngIf="paymentConversion.conversionToken.loading" [diameter]="15"></mat-spinner>
          <h6 class="mb-0 px-3">
            <ng-container *ngIf="tokenSelected">{{ tokenSelected.symbol }}</ng-container>
          </h6>
        </div>
      </mat-form-field>
    </div>
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-center h-100">
        <i class="bi bi-arrow-left-right py-2"></i>
      </div>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 text-dark" appearance="outline">
        <mat-label>Amount</mat-label>
        <input formControlName="amountInUsd" type="number"
          class="ps-1" matInput />
        <div class="d-flex" matSuffix>
          <mat-spinner *ngIf="paymentConversion.conversionUSD.loading" [diameter]="15"></mat-spinner>
          <h6 class="mb-0 px-3">$USD </h6>
        </div>
      </mat-form-field>
    </div>
  </div>
  <!-- Add a description textarea here -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <mat-form-field class="w-100 text-dark" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
          matInput placeholder="Description" maxlength="150" data-id="description-input"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="row justify-content-center">
  <div class="col-12 col-lg-7">
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-lg-6 py-2 py-lg-0">
        <app-chainbrary-button [buttonClasses]="['btn-secondary-gradient', 'text-white']" [buttonText]="'Back'"
          (callToAction)="goToPreviousPage.emit()" />
      </div>
      <div class="col-12 col-lg-6 py-2 py-lg-0">
        <app-chainbrary-button [buttonClasses]="['btn-info-gradient', 'text-white']" [buttonText]="'Next'"
          (callToAction)="goToNextPage.emit()" data-id="submit-button" />
      </div>
    </div>
  </div>
</div>
