.bg-container {
  background: linear-gradient(136deg, #9a7efb 0%, #6040c7 100%);
  background: -webkit-linear-gradient(136deg, #9a7efb 0%, #6040c7 100%);
}

.bi-arrow-left {
  cursor: pointer;
}

.title-container img {
  width: 3rem;
}

.not-found-title {
  font-size: 6rem;
}
