<!-- Login -->
<ng-container *ngIf="(userIsConnected$ | async) === false; else loggedInTemplate">
  <!-- Header -->
  <app-use-cases-header [header]="loginHeader"></app-use-cases-header>
  <!-- Body -->
  <div class="d-flex flex-column align-items-center justify-content-center pt-5">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <i class="bi bi-wallet2 text-secondary"></i>
      <p class="text-center mt-3">A connected wallet is necessary to see the the progress of the bid.</p>
      <app-chainbrary-button
        [buttonClasses]="['btn-info-gradient', 'text-light']"
        buttonText="Connect Wallet"
        (callToAction)="web3LoginService.openLoginModal()"
        data-id="login-btn"
      />
    </div>
  </div>
</ng-container>

<ng-template #loggedInTemplate>
  <!-- Loading -->
  <ng-container *ngIf="bidIsLoading$ | async">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center pt-5">
          <div class="spinner-border text-primary">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Bid page -->
  <ng-container *ngIf="(bidIsLoading$ | async) === false && (bid$ | async) !== null">
    <app-bid-result
      [bidObs]="bid$"
      [bidderListStoreObs]="bidderListStore$"
      (placeBid)="onSubmit($event)"
      (refreshBidderList)="refreshBidderList()"
      [startBidderCountdownTrigger]="startBidderCountdownTrigger$"
    >
    </app-bid-result>
  </ng-container>

  <!-- Bid not found -->
  <ng-container *ngIf="(bidError$ | async) !== null">
    <app-use-cases-header [header]="failureHeader"></app-use-cases-header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <div class="alert alert-danger border-0" role="alert">
              <h4 class="alert-heading">Bid not found</h4>
              <p>
                The bid you are looking for does not exist. Please check the URL or go back to the
                <a routerLink="/use-cases/search">search</a> page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
