@import './../../../../../../shared/styles/form.scss';

.carousel {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.card,
.list-group {
  border-radius: 8px;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-spinners {
  -moz-appearance: textfield;
}
