::ng-deep .mdc-notched-outline__leading {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

::ng-deep .mdc-notched-outline__trailing {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
